<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0 , maximum-scale=1.0, user-scalable=0">
		<meta name="format-detection" content="telephone=no">
		<title>注册</title>
		<link type="text/css" href="../common/css/public.css" rel="stylesheet"/>
		<link rel="stylesheet" href="../mallIndex/css/goodTop.css">
	    <link type="text/css" href="../common/css/body_backcolor.css"  rel="stylesheet"/>
	    <link type="text/css" href="../../static/css/login/register.css?v=20180115" rel="stylesheet"/>
	    <script src="../common/js/rem_scaler.js"></script>
	    <script src="../common/js/statistics.js"></script>
	</head>
	
	<body>
		<div class="mallHeaderHeight">
			<div class="mallFixedTop">
				<div class="mallDetallTop clearfix">		
					<img src="http://img.dafy.com/mall/mallIndex/img/20180108/top/mallback.png" id="app_bj_raw" onclick="openWindow('login/login.htm','登录','operType=skip',1,'',1);">
					<span class="mallTopTitle">注册</span>								
				</div>
			</div>
		</div>
		<!-- <header class="_Wedafytop">
			<div class="_Wedafytopback">
				<div class="_Wedafytop_positon">
						<div class="_Wedafytop_return font-size5" onclick="openDelayWindow('login/login.html','登录','operType=skip',1,'',1);">
							<img src="../common/img/top/_We_return.png" />返回
						</div> 
						<div class="_Wedafytop_title font-size6">注册</div>
				   </div>
			</div>
	    </header> -->
		<div id="container">
			<div class="_lRegCont">
				<div class="_lRegInput">
					<img class="_lRegInputIco" src="http://img.dafy.com/mall/login/img/20180108/iphoneIco.png"  />
					<input id="strMobile" type="tel" maxlength="11"  placeholder="请输入手机号码" verify="1" msg="手机号"/>
					<img class="_lRegInputEyeBtn" src="http://img.dafy.com/mall/login/img/20180108/regClose.png" style="display:none;"/>
				</div>
				<div class="_lRegInput">
					<img class="_lRegInputIco" src="http://img.dafy.com/mall/login/img/20180108/vCode.png"  />
					<input type="tel"  id="strCode" maxlength="4"  placeholder="请输入验证码" verify="2" msg="验证码" style="width:3.4rem;"/>
				    <p style="display:block;" id="btnCodeId_0">获取验证码</p>
				    <p class="regCodePThree " style="display:none;" id="btnCodeId_1">获取验证码</p>
				    <p class="regCodePTwo" style="display:none;" id="btnCodeId_2">重新获取<span>60</span>s</p>
				    <img class="_lRegInputEyeBtn _lRegInputEyeBtnLeft" src="http://img.dafy.com/mall/login/img/20180108/regClose.png" style="display:none;"/>
				</div>
				<div class="_lRegPrompt" style="display:block" id="btnVoiceId_0">
					收不到短信？<span>免费语音获取</span>
				</div>
				<div class="_lRegPrompt" style="display:none" id="btnVoiceId_1">
					收不到短信？免费语音获取
				</div>
				<div class="_lRegPrompt" style="display:none" id="btnVoiceId_2">
					拨打中... 请注意接听<label>60</label>s
				</div>
				<div class="_lRegInput _lRegInputBordeNo">
					<img class="_lRegInputIco" src="http://img.dafy.com/mall/login/img/20180108/reCode.png"  />
					<input type="tel" id="strRecommendMobile" maxlength="11"  placeholder="请输入推荐码（非必填）" verify="3" msg="推荐码" style="width:3.4rem;"/>
					<img class="_lRegInputEyeBtn" src="http://img.dafy.com/mall/login/img/20180108/regClose.png" style="display: none;"/>
				</div>
			</div>
			<div class="public_btnNoClick" id="btnNextStep">下一步</div>
		</div>
		<div class="serviceTelephone">客服电话：400-6259-898</div>

</body>
</html>
<script>
	document.write('<script type="text/javascript" src="../common/js/includeCommon.js?'+ new Date().getTime()+'" level="1"><\/script>');
</script>
<script type="text/javascript" src="../common/js/muiJS/mui.min.js"></script>
<script>
    document.write('<script type="text/javascript" src='+WeChat_version+'"../../static/scripts/login/registerOneStep.js?"><\/script>')
</script>